APP_ICON ICON "appico.ico"
VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      0,0,1,1
  PRODUCTVERSION   0,0,1,1
  FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK
//#ifdef _DEBUG
  FILEFLAGS        0x1L  // VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
/*#else
  FILEFLAGS        0x0L  // final version
#endif*/
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "Build",            "0.1.1\0"
      VALUE "Developer",        "Eigen Lenk\0"
      VALUE "FileDescription",  "Game engine for text based games.\0"
      VALUE "FileVersion",      "0.1.100\0"
      VALUE "InternalName",     "TGE\0"
      VALUE "LegalCopyright",   "Copyright (C) 2014 Eigen Lenk\0"
      VALUE "LegalTrademarks",  "All rights reserved.\0"
      VALUE "OriginalFilename", "TGE.exe\0"
      VALUE "PrivateBuild",     "\0"
      VALUE "ProductName",      "TGE\0"
      VALUE "ProductVersion",   "0.1.100\0"
      VALUE "SpecialBuild",     "\0"
      VALUE "Users",            "Unlimited.\0"
    } // BLOCK "040904E4"
  } // BLOCK "StringFileInfo"
}
